@import '../../styles/scss/elements';
@import '../../styles/scss/variables';

.medical-history {
  width: 100%;
  margin-top: 10px;
  overflow-y: auto;
  table {
    width: 100%;
    font-size: 14px;
    text-align: left;
    th,
    td {padding: 3px 0 3px 10px; border: 1px solid $tblBorder;
    }
    th {
      background-color: $thColor;
      font-weight: 600;
    }
    td {
      input {width: 100%; border: none; outline: none;}
    }
  }
}

.medical-history::-webkit-scrollbar {
  width: 10px;  /* 스크롤바의 너비 */
}

.medical-history::-webkit-scrollbar-thumb {
  height: 5%; /* 스크롤바의 길이 */
  background: #0af; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}

.medical-history::-webkit-scrollbar-track {
  background: #e6eef2;  /*스크롤바 뒷 배경 색상*/
}     
