@import '../../styles/scss/elements';
@import '../../styles/scss/variables';

.medical-history {
  width: 100%;
  margin-top: 10px;
  table {
    width: 100%;
    font-size: 14px;
    text-align: left;
    th,
    td {padding: 3px 0 3px 10px; border: 1px solid $tblBorder;
    }
    th {
      background-color: $thColor;
      font-weight: 600;
    }
    td {
      input {width: 100%; border: none; outline: none;}
    }
  }
}