@import './scss/elements';
@import './scss/variables';

.outpatient{
  display: grid;
  grid-template-columns: 65px 1fr;
  grid-template-rows: 85px 1fr;
  width: 100%;
  height: 100vh;
  
  header {
    grid-column-start: span 2 ;
  }
  // nav {}

  main {
    display: grid;  
    gap: 25px;
    grid-template-columns: 2.5fr 1fr 1fr;
    grid-template-rows: 75px 210px 1fr;
    padding: 30px 35px;
    .top {
      grid-column-start: span 3;
    }
    .middle {
      @extend %contentBox;
      grid-column-start: span 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      .search-info {
        display: flex;
        justify-content: space-between;
        .input-patient {
          display: flex;
          align-items: center;
          font-size: 18px;
          letter-spacing: 0.72px;
          label {margin-right: 10px; font-weight: 600;}
          input {
            width: 150px;
            padding-bottom: 5px;
            border: none;
            border-bottom: 1px solid $grey;
            outline: 0;
            font-size: 18px;
            text-align: center;
          }
          
        }
        .btn:last-child {margin-left: 20px;}
      }
    }
    .order {
      grid-column-start: span 2;
      height: 100%;
      background-color: $white;
    }
  }
}


// 반응형 예시
/*
h1 {
  color: red;

  // tablet
  @include responsive('tablet') {
    color: green;
  }
  @include responsive('tablet-l') {
    font-size: 60px;
  }
} 
*/