@import './scss/elements';
@import './scss/variables';

.ward-management2 {
  width: 100%;
  height: 100%;

  main {
    display: grid;  
    gap: 25px;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 75px 272px 415px;
    height: 100%;
    padding: 20px 35px;
    .top {
      grid-column-start: span 2;
    }
    .item1 {
      height: 100%;
      background-color: $white;
      border: 1px solid #000;
    }
    .item2 {
      height: 100%;
      background-color: $white;
      border: 1px solid #000;
    }
    .item3 {
      height: 100%;
      background-color: $white;
      border: 1px solid #000;
    }
    .item4 {
      height: 100%;
      background-color: $white;
      border: 1px solid #000;
    }
  }
}