@import './scss/elements';
@import './scss/variables';

.ward-management2 {
  display: grid;
  grid-template-columns: 65px 1fr;
  grid-template-rows: 85px 1fr;
  width: 100%;
  height: 100vh;
  
  header {
    grid-column-start: span 2 ;
  }
  // nav {}

  main {
    display: grid;  
    gap: 25px;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 75px .8fr 1fr;
    padding: 30px 35px;
    .top {
      grid-column-start: span 2;
    }
    .item1 {
      height: 100%;
      background-color: $white;
      border: 1px solid #000;
    }
    .item2 {
      height: 100%;
      background-color: $white;
      border: 1px solid #000;
    }
    .item3 {
      height: 100%;
      background-color: $white;
      border: 1px solid #000;
    }
    .item4 {
      height: 100%;
      background-color: $white;
      border: 1px solid #000;
    }
  }
}