@import './scss/elements';
@import './scss/variables';

.ward-management {
  display: grid;
  grid-template-columns: 65px 1fr;
  grid-template-rows: 85px 1fr;
  width: 100%;
  height: 100vh;
  
  header {
    grid-column-start: span 2 ;
  }
  // nav {}

  main {
    display: grid;  
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 75px 120px 1fr;
    padding: 30px 35px;
    .top {
      grid-column-start: span 4;
    }
    .bed-count {
      grid-column-start: span 1;
      position: relative;
      padding: 16px 23px;
      border-radius: 4px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
      background-color: $white;
      .count-title {
        font-size: 14px;
        margin-bottom: 20px;
      }
      .count {
        font-size: 30px;
        font-weight: 600;
      }
      .line {
        position: absolute;
        left: 0;
        bottom: 4px;
        width: 100%;
        height: 4px;
        background-color: $primaryColor;
      }
      .btn {
        position: absolute;
        right: 15px;
        bottom: 20px;
        width: 80px;
        height: 30px;
        border-radius: 4px;
        box-shadow: inset 0 2px 0 0 #dff6ff, 0 3px 2px 0 rgba(0, 0, 0, 0.06);
        border: solid 0.2px #c9eaf8;
        background-color: #ceeefb;
        font-size: 14px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        &:hover {
          box-shadow: inset 0 2px 0 0 rgba(0,0,0,.1);
          background-color: #BEE3F2;
          color: $white;
        }
      }
    }
    .tab {
      background-color: #fff;
      grid-column-start: span 3;
      border: 1px solid #000;
    }
  }
}