@import './scss/elements';
@import './scss/variables';

.WardPatientCall-wapper {
  width: 100%;
  height: 100%;

  main {
    height: 100%;
    padding: 20px 35px;
   
    .btn-wapper{
      margin: auto;
      .btn{
        width: 600px;
        height: 600px;
        font-size: 100px;
        text-align: center;
        line-height: 600px;
      }
    }
    
  }
}
