.swal2-styled.swal2-confirm{
    background-color: #0af;
}

.swal2-icon.swal2-error {
    border-color:  rgba(218, 4, 4, 0.856);
    color :  rgba(218, 4, 4, 0.856);
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    background-color: rgba(218, 4, 4, 0.856) ;
}