@import '../../styles/scss/elements';
@import '../../styles/scss/variables';

.patientRegistrationModal {
  width: 100%;
  height: 100%;
  
  main {
    display: grid;  
    gap: 25px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 75px .3fr .4fr 1fr;
    height: 100%;
    padding: 30px 35px;
    .top {
      grid-column-start: span 2;
    }

    .infoBox {
        background-color: white;
        width: 410px;
        height: 480px;
        border-radius: 10px;
        position: absolute;
        left: 5%;

        hr{
          background-color: #0af;
          height: 3px;
          width: 109.8%;
          position: relative;
          left: -5.4%;
        }

        .infoTitle {
          display: flex;
          justify-content: center;
          margin-top: 15px;
          margin-bottom: 15px;
          font-size: 18px;
          font-weight: bold;
        }

        .infoContent {
          display: flex;
          justify-content: center;
          .infoUl {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .infoLi {
              display: flex;
              justify-content: space-between;
              margin-top: 50px;
            }

            .patientReg {
              @extend %btn;
              text-align: center;
              width: 100px;
              height: 35px;
              margin: 0 auto;
              margin-top: 15%;  
              border:1px white solid;
              border-radius: 5px;
              
              cursor: pointer;
            }

            .infoLabel {
              display: flex;
              align-items: center;
              font-size: 16px;
              margin-right: 20px;
            }

            .infoInput {
              width: 200px;
              height: 35px;
              border-radius: 5px;
              border: 1px black solid;
              outline: none;
            }

            .registration {
              width: 100px;
              height: 35px;
              text-align: center;
              margin: 0 auto;
              margin-top: 15%;
              background-color: $primaryColor;
              color: white;
              border:1px white solid;
              border-radius: 5px;
              cursor: pointer;
            }
          }
        }
    }

  }
}