@import '../styles/scss/variables';

.contextmenu {
  /* display: none; */
  position: absolute;
  z-index: 999999;
  overflow: hidden;
  width: 200px;
  margin: 0;
  padding: 0;
  border: 1px solid $grey;
  border-radius: 5px;
  background: $white;
  list-style: none;
  li {
    border-left: 3px solid transparent; transition: ease .2s;
    a {
      display: block;
      padding: 10px;
      color: $grey;
      text-decoration: none;
      transition: ease .2s;
    }
    &:hover {
      background: $primaryColor; border-left: 3px solid rgba(0,0,0,.2);
      a {color: $white;}
    }
  }
}